<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Hello, world!</title>
</head>

<body ng-app="myapp" class="col-6 m-auto">
  <div ng-controller="myctrl1">
    <div class="card">
      <div class="card-header bg-success">
        <i class="fa fa-list-ul"></i> FORM THÔNG TIN SINH VIÊN 0
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <i class="fa fa-user-circle"></i> <label>Họ và tên</label>
            <input class="form-control" ng-model="$parent.student.fullname">
          </div>
          <div class="form-group">
            <i class="fa fa-birthday-cake"></i> <label>Ngày sinh</label>
            <input class="form-control" ng-model="$parent.student.birthday">
          </div>
          <div class="form-group">
            <i class="fa fa-pencil"></i> <label>Điểm</label>
            <input class="form-control" ng-disabled="index != -1" ng-model="$parent.student.mark">
          </div>
          <div class="form-group">
            <i class="fa fa-pencil"></i> <label>Email</label>
            <input class="form-control" ng-model="$parent.student.email">
          </div>
          <div class="form-group">
            <i class="fa fa-pencil"></i> <label>Học phí</label>
            <input class="form-control" ng-disabled="index != -1" ng-model="$parent.student.schoolfee">
          </div>
          <div class="text-center">
            <button class="btn  btn-outline-primary  font-weight-bold" ng-click="save($index)">
              <i class="fa fa-floppy-o" style="font-size:24px"></i> LƯU
            </button>
            <button class="btn  ml-5 btn-outline-danger font-weight-bold" ng-click="cancel($index)">
              <i class="fa fa-close" style="font-size:24px"></i></i> HỦY
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <i>Chú ý: nhập điểm là số từ 0-10, ngày ddmm/yy</i>
      </div>
    </div>
  </div>
  <div ng-controller="myctrl2">
    <table class="table table-bordered col-6 m-auto text-center">
      <tr class="bg-success">
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Điểm</th>
        <th>Email</th>
        <th>Học Phí</th>
        <th>Hành động</th>
      </tr>
      <tr ng-repeat="sv in students">
        <td>{{sv.fullname}}</td>
        <td>{{sv.birthday}}</td>
        <td>{{sv.marks}}</td>
        <td>{{sv.email}}</td>
        <td>{{sv.schoolfee}}</td>
        <td><button class="btn btn-primary" ng-click="edit($index)">Sửa</button></td>
      </tr>
    </table>
  </div>



</body>
<script src="Students.js"></script>
<script>
  var app = angular.module("myapp", []);
  app.controller("myctrl1", function ($scope, $rootScope) {
    $rootScope.students = listsv;
    $scope.save = function () {
      $rootScope.students[$rootScope.index] = $scope.student;
    }
    $scope.cancel = function () {
      $rootScope.student = angular.copy($rootScope.students[$rootScope.index]);
    }
  })
  app.controller("myctrl2", function ($scope, $rootScope) {
    $scope.edit = function (chiso) {
      // tao bien index  va dat trong $scope cha
      $rootScope.index = chiso;

      // chep dong hien tai vap bien student cua $scopecha
      $rootScope.student = angular.copy($rootScope.students[chiso]);
    }
  })
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>