<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="dn.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>Online Training</title>
  </head>
  <body  ng-app="dangnhap">
    
    <div class="card  col-6 m-auto p-5 border border-secondary">
      <div class="card-header text-center">
        <h4>Đăng Nhập</h4>
      </div>
      <div class="card-body">
        <form ng-controller="frmdn">
            <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Nhập username" ng-model="u">
            </div>
            <div class="form-group">
            <label >Mật khẩu</label>
            <input type="password" class="form-control" placeholder="Nhập mật khẩu" ng-model="p">
            </div>
            <a href="quenmk.html">Quên mật khẩu?</a>
            <br>
            <br>
            <button type="submit" class="btn btn-primary " ng-click="dn()">Đăng nhập</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        Chào mừng trở lại!
Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn
      </div>
    </div>


    
  </body>

  <script src="Students.js"></script>
  <script>
    var app = angular.module("dangnhap",[]);
    app.controller("frmdn",myfunc);
    function myfunc($scope){
        $scope.dn = function(){
            var u = $scope.u;
            var p = $scope.p;
            var tc = false;
            var motsv;
            for(var i=0; i<listsv.length; i++){
                motsv = listsv[i];
                if(u==motsv.username && p==motsv.password){
                    tc = true;
                    break;
                } 
                Swal.fire({
                icon: 'error',
                title: 'Đăng nhập thất bại',
                text: 'Vui lòng kiểm tra lại username và password',
                
              })
            }
            if(tc){
              Swal.fire({
              icon: 'success',
              title: 'Đăng nhập thành công',
              showConfirmButton: false,
              timer: 1500
            })
                sessionStorage.setItem("username",motsv.username);
                sessionStorage.setItem("fullname",motsv.fullname);
                sessionStorage.setItem("email",motsv.email);
                document.location ="layout.html"
            }
        }
    }
  </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>